@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
  --colorTopLeft: #22a6b3;
  --colorTopLeftActive: #7ed6df;
  --colorTopRight: #be2edd;
  --colorTopRightActive: #e056fd;
  --colorBottomRight: #6ab04c;
  --colorBottomRightActive: #badc58;
  --colorBottomLeft: #f0932b;
  --colorBottomLeftActive: #ffbe76;
  --bg1: #dedede;
  --bg2: #ecf0f1;
  --bg3: #163f7c;
  --fontColor: #163f7c;
  --black: #000000;
  --white: #ffffff;
  --fontBase: "Anton", sans-serif;
}
body {
  font-family: var(--fontBase);
  overflow-x: hidden;
  background: var(--bg1);
}
header {
  background-color: var(--bg3);
  height: 60px;
}
header nav {
  height: 100%;
}
header nav ul {
  list-style: none;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  color: var(--white);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

.gameboard {
  height: 280px;
  width: 280px;
  border-radius: 50%;
  margin: 0 auto;
}
.gameboard div:nth-child(1) {
  border-top-left-radius: 100%;
}
.gameboard div:nth-child(2) {
  border-top-right-radius: 100%;
}
.gameboard div:nth-child(3) {
  border-bottom-left-radius: 100%;
}
.gameboard div:nth-child(4) {
  border-bottom-right-radius: 100%;
}
.color {
  cursor: pointer;
  width: 50%;
  height: 50%;
  display: inline-block;
}

.left {
  float: left;
}

.right {
  float: left;
}

.celeste {
  background: var(--colorTopLeft);
}

.celeste.light {
  background: var(--colorTopLeftActive);
}

.violeta {
  background: var(--colorTopRight);
}

.violeta.light {
  background: var(--colorTopRightActive);
}

.naranja {
  background: var(--colorBottomLeft);
}

.naranja.light {
  background: var(--colorBottomLeftActive);
}

.verde {
  background: var(--colorBottomRight);
}

.verde.light {
  background: var(--colorBottomRightActive);
}

.btn-start {
  font-family: var(--fontBase);
  width: 200px;
  height: 100px;
  background: var(--bg2);
  color: var(--fontColor);
  font-size: 2.5rem;
  position: absolute;
  top: 210px;
  left: calc(50% - 100px);
  border: 0;
  outline: none;
  box-shadow: 2px 2px 8px var(--black);
  cursor: pointer;
}

.hide {
  display: none;
}
.explanation {
  margin: 25px 0;
  padding: 0 20px;
}
.explanation h2,
.explanation p {
  text-align: center;
}
.explanation h2 {
  font-size: 2.4rem;
}
.explanation p {
  margin-top: 10px;
  font-size: 1.8rem;
}
.explanation p:last-child {
  margin-top: 15px;
  font-size: 3rem;
}
footer {
  width: 100%;

  height: 60px;
  background-color: var(--bg3);
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  color: var(--white);
}

@media screen and (min-width: 768px) {
  footer {
    position: absolute;
    bottom: 0;
  }
}
